<directory>  # output directory
1000 # Maximum object size in bytes
10 # Total number of object sizes to test
5 # Total number of hit rates to test, must be at least 2 (if 2, cache hit rate is 0 or 1)
1 # 1 to use out-of-process cache, 0 not to use out-of-process cache (always use in-process cache)
4 # of times to run each experiment
1.0 # sizes in bytes are divided by this double in output files
100000.0 # times in nanoseconds are divided by this double in output files
2 # 0 to use all 0s for bytes in test objects, 1 to use random numbers, 2 to read objects from file (if 2, next line has pathname of input file)
<filename> # If previous value is 2, file containing object input data

